body{
    background-color: burlywood;
}

h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
p{
    text-align: center;
    
}
.image{
    max-width: 100%;
    border-radius: 40px;
    display: block;
    margin: 20px auto;
    width: 500px;
}
footer{
    text-align: center;
}
footer a{
    margin: 0 10px;
    color: brown;
}